{% load static %}
<!DOCTYPE html>
<html lang="en" dir="rtl">
<head>
    <meta charset="utf-8">
    <title>{% block title %}{% endblock title %} | Veltrix - Admin & Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="Premium Multipurpose Admin & Dashboard Template" name="description">
    <meta content="Themesbrand" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico'%}">
    {% block css %}
        
    {% block extra_css %}
        
    {% endblock extra_css %}
    <!-- Bootstrap Css -->
    <link href="{% static 'css/bootstrap-rtl.min.css'%}" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="{% static 'css/icons.min.css'%}" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="{% static 'css/app-rtl.min.css'%}" id="app-style" rel="stylesheet" type="text/css">
    {% endblock css %}
        
</head>
<body {% block body %}data-sidebar="dark"{% endblock body %} >
    <!-- Begin page -->
    <div id="layout-wrapper">
        {% block topbar %}
            {% include 'partials/topbar.html' %}
            {% include 'partials/sidebar.html' %}
            {% comment %}{% include 'partials/horizontal.html' %}{% endcomment %}
        {% endblock topbar %}

        <!-- ============================================================== -->
        <!-- Start right Content here -->
        <!-- ============================================================== -->
        <div class="main-content">

            <div class="page-content">
                <div class="container-fluid">
                    {% block page_title %}
                    {% endblock %}
 {% for message in messages %}
<div class="alert {{message.tags}} alert-dismissible fade show" role="alert">
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                {{ message }}
                            </div>
        {% endfor %}
                    {% block content %}

                    {% endblock content %}
                </div> <!-- container-fluid -->
            </div>
            <!-- End Page-content -->

            {% block footer %}
                {% include 'partials/footer.html' %}
            {% endblock footer %}
        </div>
        <!-- end main content-->
    </div>
    <!-- END layout-wrapper -->
        

    {% block right_sidebar %}
        {% include 'partials/right-sidebar.html' %}
    {% endblock right_sidebar %}
        

    {% block javascript %}
    <!-- JAVASCRIPT -->
    <script src="{% static 'libs/jquery/dist/jquery.min.js'%}"></script>
    <script src="{% static 'libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'libs/metismenu/dist/metisMenu.min.js'%}"></script>
    <script src="{% static 'libs/simplebar/dist/simplebar.min.js'%}"></script>
    <script src="{% static 'libs/node-waves/dist/waves.min.js'%}"></script>
        
    {% block extra_js %}
        
    {% endblock extra_js %}
    <script src="{% static 'js/app.js'%}"></script>
    {% endblock javascript %}
</body>
</html>