{% extends 'partials/base.html' %}
{% load static %}
{% block title %}مهندسين التنفيذ{% endblock title %}

{% block extra_css %}
<link href="{% static 'libs/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css'%}" rel="stylesheet" type="text/css">

{% endblock extra_css %}

{% block page_title %}
    {% include 'partials/page_title_engineers.html' with page_title="مهندسين التنفيذ" sub_title="مهندسين التنفيذ" title="مهندسين التنفيذ" %}
    {% endblock page_title %}
{% block content %}
{% for eng in engineers %}

    <div class="modal fade" id="staticBackdrop{{eng.id}}" data-bs-backdrop="static"
                                    data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
                                    aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="staticBackdropLabel"> مسح المهندس
                                                </h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                    aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                              هل انت متأكد لمسح مهندس {{eng.name}}
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">غلق</button>
                                                <a href="{% url 'delete_engineer' eng.id %}"
                                                    class="btn btn-primary">مسح</a>
                                            </div>
                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
{% endfor %}
<div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">كل المهندسين </h4>
                        <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>الاسم</th>
                                    <th>الوظيفة</th>
                                    <th>سنة التخرج</th>
                                    <th> رقم التلفون</th>
                                    <th>تعديل او حذف</th>

                                </tr>
                            </thead>


                            <tbody>
                            {% for eng in engineers %}
                           <tr>
                                <td>{{eng.id}}</td>
                            <td>{{eng.name}}</td>
                            <td>{{eng.job_title}}</td>
                            <td>{{eng.graduation_year}}</td>
                            <td>{{eng.phone_number}}</td>
                               <td class="text-center">

                                   <a class="btn btn-info" type="button" href="{% url 'details_engineer' eng.id %}" >تفاصيل</a>
                                   {% if  perms.engineers.change_engineers %}
                                   <a class="btn btn-info" type="button" href="{% url 'edit_engineer' eng.id %}" >تعديل</a>
                                   {% endif %}
                                   {% if  perms.engineers.delete_engineers %}
                            <input class="btn btn-danger" type="submit" value="حذف" data-bs-toggle="modal"
                                        data-bs-target="#staticBackdrop{{eng.id}}">
                                    {% endif %}
                                    </td>
                           </tr>
                            {% endfor %}
                            </tbody>
                        </table>

                    </div>
                </div>
            </div> <!-- end col -->
        </div>

{% endblock content %}

{% block extra_js %}
    <script src="{% static 'libs/datatables.net/js/jquery.dataTables.min.js'%}"></script>
    <script src="{% static 'libs/datatables.net-bs4/js/dataTables.bootstrap4.min.js'%}"></script>
    <!-- Buttons examples -->
    <script src="{% static 'libs/datatables.net-buttons/js/dataTables.buttons.min.js'%}"></script>
    <script src="{% static 'libs/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js'%}"></script>
    <script src="{% static 'libs/jszip/dist/jszip.min.js'%}"></script>
    <script src="{% static 'libs/pdfmake/build/pdfmake.min.js'%}"></script>
    <script src="{% static 'libs/pdfmake/build/vfs_fonts.js'%}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.html5.min.js'%}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.print.min.js'%}"></script>
    <script src="{% static 'libs/datatables.net-buttons/js/buttons.colVis.min.js'%}"></script>
    <!-- Responsive examples -->
    <script src="{% static 'libs/datatables.net-responsive/js/dataTables.responsive.min.js'%}"></script>
    <script src="{% static 'libs/datatables.net-responsive-bs4/js/responsive.bootstrap4.min.js'%}"></script>

<script>
    $(document).ready(function(){$("#datatable-buttons").DataTable({lengthChange:!1,buttons:["copy","excel","pdf","colvis"]}).buttons().container().appendTo("#datatable-buttons_wrapper .col-md-6:eq(0)"),$(".dataTables_length select").addClass("form-select form-select-sm")});
</script>
{% endblock %}
