{% extends 'account/base.html' %}
{% load static %}

{% block title %}Login{% endblock title %}
{% block header %}
<h5 class="text-center mt-5 font-size-18">Welcome Back !</h5>
<p class="text-muted text-center">Sign in to continue to mtm group.</p>                                
{% endblock header %}
{% block content %}
    <form class="form-horizontal mt-4 needs-validation login" method="post"  >
        {% for message in messages %}
        <div class="alert {{ message.tags }} mb-4" role="alert">
            <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        {% if field.help_text %}
            <div class="alert alert-danger mb-4" role="alert">
                <strong>{{ field.help_text }}</strong>
            </div>
        {% endif %}
        {% csrf_token %}
        <div class="mb-3">
            {{form.login}}
        </div>
        <div class="mb-3">
            {{form.password}}
        </div>
         <div class="mb-3 text-center">
            <!-- <div class="col-6">
            {{form.remember}}
            </div> -->
            <div class= "">
                <button class="btn btn-primary w-md waves-effect waves-light"
                    type="submit">Log In</button>
            </div>
        </div>
    </form>    
    <hr>
    
{% endblock content %}
{% block extra_content %}
{% endblock extra_content %}